img,legend{border:0}legend,td,th{padding:0}html{font-family:"Microsoft YaHei","Lantinghei SC","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased}body{margin:0}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}img{vertical-align:middle}svg:not(:root){overflow:hidden}b,optgroup,strong{font-weight:700}h1{font-size:2em;margin:.67em 0}pre,textarea{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}table{border-collapse:collapse;border-spacing:0}

ul {
  list-style: none;
}

ul, li, p {
  margin: 0;
  padding: 0;
}

[v-cloak] {
  display: none;
}

em {
  font-style: normal;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

input[type="number"]{
  -moz-appearance: textfield;
}

.zs {
  color: #c3986b;
}

.fs {
  color: #67c9ea;
}

.ms {
  color: #ece6dc;
}

.dk {
  color: #c11d3a;
}

.qs {
  color: #f089b6;
}

.lr {
  color: #a8d070;
}

.dz {
  color: #fbf066;
}

.dh {
  color: #c600ff;
}

.sm {
  color: #2357fa;
}

.ws {
  color: #01fbb7;
}

.ss {
  color: #907fc5;
}

.xd {
  color: #fc7d0d;
}
