body {
  background: url(../img/bg.jpg) no-repeat #034789;
  font-size: 16px;
  color: #def;
}

body > table, section {
  width: 60%;
  text-align: center;
  margin: 20px auto;
  border-radius: 4px;
  border: 3px solid;
  background: rgba(0,0,0,0.3);
  border-color: rgba(255,255,255,0.2);
  overflow: hidden;
}

table tr {
  border-bottom: 1px solid #def;
}

table tr > td, table tr > th {
  padding: 13px 0;
}

table > tbody > tr:hover, thead > tr > th:hover {
  cursor: pointer;
  background: rgba(0,0,0,0.4);
}

nav {
  position: fixed;
  font-size: 20px;
  letter-spacing: 2px;
  right: 14px;
  top: 20px;
  width: 170px;
  background: rgba(0,0,0,0.3);
  height: 45px;
  text-align: center;
  line-height: 45px;
  border-radius: 3px;
  border: 1px solid;
  cursor: pointer;
}

section {
  text-align: left;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  border: none;
}

section > ul > li > p:first-of-type {
  font-size: 25px;
  border-bottom: 3px solid;
  padding-bottom: 5px;
}

section > ul > li > p,
section > ul > li > ul > li > p {
  margin-bottom: 5px;
}

section > ul > li > ul > li > p:first-of-type {
  font-size: 20px;
}

section .other {
  display: inline-block;
  margin-right: 10%;
}

section .boss > li {
  margin-top: 9px;
  padding-top: 9px;
  border-top: 2px dashed;
}

section .boss > li > ul {
  margin: 15px 0;
}

section > ul > li > ul > li > ul > li {
  margin-bottom: 3px;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 1%;
  border: 1px solid;
  padding: 1px 8px;
  width: 15%;
  min-height: 46px;
  vertical-align: top;
  border-radius: 1px;
  text-align: center;
}

section > ul > li {
  margin-bottom: 40px;
  letter-spacing: 1px;
}

section p > span:first-of-type {
  display: inline-block;
  vertical-align: top;
}

section p .right {
  display: inline-block;
  width: 87%;
}

.info {
  position: fixed;
  background: #0367c9;
  left: 0;
  right: 0;
  width: 500px;
  top: 150px;
  z-index: 3;
  margin: auto;
  padding: 10px;
  border-radius: 3px;
}

.info > span {
  position: absolute;
  display: block;
  top: 8px;
  right: 17px;
  width: 20px;
  height: 20px;
  margin: 7px 0 0 111px;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.info > span:before {
  content: '';
  position: absolute;
  left: 1px;
  top: 9px;
  width: 18px;
  height: 2px;
  background: #fff;
}

.info > span:after {
  content: '';
  position: absolute;
  left: 9px;
  top: 1px;
  width: 2px;
  height: 18px;
  background: #fff;
}

.info > p {
  font-size: 24px;
  padding: 5px;
  border-bottom: 3px solid;
}

.info > ul:first-of-type {
  padding: 5px;
  font-size: 20px;
}

.info > ul:last-of-type > li {
  border-bottom: 2px solid;
  margin-top: 5px;
  padding: 5px;
}

.info > ul:last-of-type > li > p {
  font-size: 20px;
}

.info > ul:last-of-type > li > ul > li {
  display: inline-block;
  margin-right: 10px;
}

.toggle-transition {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: perspective(1000px) translateZ(0) rotateY(0) rotateX(0);
          transform: perspective(1000px) translateZ(0) rotateY(0) rotateX(0);
  opacity: 1;
  overflow: hidden;
}

.toggle-enter, .toggle-leave {
  -webkit-transform: perspective(1000px) translateZ(-100px) rotateY(10deg) rotateX(-15deg);
          transform: perspective(1000px) translateZ(-100px) rotateY(10deg) rotateX(-15deg);
  opacity: 0;
}
